{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <h1>OUR TEAM<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
</div>
<div class="custom-padding">
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="team-area">
                    <img src="{% static 'images/team-03' %}.png" alt="">
                
                    <div class="social">
                        
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-phone"></a>
                        
                    </div>
                    <h2>Santosh Sir <span>MD</span></h2>

                </div>
            </div>
            <div class="message-box col-md-6 team-box">
                    
                <h2>Welcome to Golden Eye Academy</h2>
                    

                    <p> We welcome you in the ocean of knowledge to 
                        dive into it and achieve the best. We facilitate 
                        you to identify yourself with the best through 
                        motivational tips, inner engineering skills, 
                        memory power as well as career counselling. 
                        You will be enriched with knowledge and 
                        capacity and be able to glow your cherished aim 
                        as pearls which you always dreamt for. We help 
                        you to determine your destination.</p>
                   

                    <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
            </div><!-- end messagebox -->
            
        </div>
    </div>
</div>
<div >
	<div class="container text-center">
		<h1>Teachers<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
	</div>
</div>
<div id="teachers" class="section wb">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-01' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Williamson</h3>
						<span class="post">Web Developer</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-02' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Kristiana</h3>
						<span class="post">Web Designer</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-03' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Steve Thomas</h3>
						<span class="post">Web Developer</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-04' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Miranda joy</h3>
						<span class="post">Web Developer</span>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-01' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Williamson</h3>
						<span class="post">Web Developer</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-02' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Kristiana</h3>
						<span class="post">Web Designer</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-03' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Steve Thomas</h3>
						<span class="post">Web Developer</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="our-team">
					<div class="team-img">
						<img src="{% static 'images/team-04' %}.png">
						<div class="social">
							<ul>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
								<li><a href="#" class="fa fa-skype"></a></li>
							</ul>
						</div>
					</div>
					<div class="team-content">
						<h3 class="title">Miranda joy</h3>
						<span class="post">Web Developer</span>
					</div>
				</div>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->	
{% endblock content %}