{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Preparation Classes<span class="m_1"></span></h1>
    </div>
</div>

<section class="container">
    <div class="card">
        <div class="card-header">
          Preparation Classes
        </div>
        <div class="card-body">
          
            <p>Our experienced counselors provide personalized guidance on choosing the right program and university, preparing for standardized tests, and applying for scholarships. We also offer language courses to help you improve your language skills and adapt to a new culture.</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-1">
                      <h2> IELTS </h2>
                    </div>
                    <div class="service-text">
                      <p>We offer comprehensive courses designed to prepare you for a successful career in teaching at various levels, including Secondary School, Lower Secondary School, and Primary School.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-2">
                      <h2> TOFEL</h2>
                    </div>
                    <div class="service-text">
                      <p> We offer comprehensive courses designed to prepare you for a successful career in the banking sector, including positions at Rastra Bank, Commercial Banks, and Nepal Bank.</p>
                    </div>
                    
                  </div>
                </div>
                
              </div>
   
        </div>
      </div>
</section>
{% endblock content %}