{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Aboard Study<span class="m_1"></span></h1>
    </div>
</div>
<section class="container">
    <div class="card">
        <div class="card-header">
            Aboard Study
        </div>
        <div class="card-body">
          
            <p>Our experienced counselors provide personalized guidance on choosing the right program and university, preparing for standardized tests, and applying for scholarships. We also offer language courses to help you improve your language skills and adapt to a new culture.</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-1">
                      <h2> IELTS </h2>
                    </div>
                    <div class="service-text">
                      <p>IELTS stands for the International English Language 
                        Testing System. It is a standardized test that measures 
                        the English language proficiency of non-native English 
                        speakers who wish to study or work in countries where 
                        English is the primary language of communication. The 
                        test assesses the four language skills: listening,
                         reading, writing, and speaking. IELTS is recognized
                          by universities, employers, and governments around 
                          the world as a reliable indicator of English language
                           proficiency.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-2">
                      <h2> TOFEL</h2>
                    </div>
                    <div class="service-text">
                      <p> TOEFL stands for Test of English as a Foreign 
                        Language. It is a standardized test that measures 
                        the English language proficiency of non-native English
                         speakers who wish to study or work in countries where
                          English is the primary language of communication. 
                          The test assesses the four language skills: listening,
                           reading, writing, and speaking. TOEFL is recognized
                            by universities, employers, and governments around 
                            the world as a reliable indicator of English
                             language proficiency.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</section>
{% endblock content %}