{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>FAQ<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <div class="faq-container">
        <h1 style="text-align: center; color: #333;">FAQ</h1>
        {% for faq in faqs %}
            <div class="faq-item" id="faq-{{ forloop.counter }}">
                <h3>{{ faq.question }}</h3>
                <p class="answer">{{ faq.answer }}</p>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/faq.js' %}"></script>
    {% endblock  %}
   

