{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Language<span class="m_1"></span></h1>
    </div>
</div>
<section class="container">
    <div class="card">
        <div class="card-header">
            Language
        </div>
        <div class="card-body">
          
            <p>Our language courses cover basic to advanced levels, and we also offer computer-based language tests to assess your proficiency. Our classes are designed to be interactive and engaging, with a focus on practical communication skills.</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-1">
                      <h2> Basic English </h2>
                    </div>
                    <div class="service-text">
                      <p>A basic English course is an educational program designed to introduce individuals to the fundamental concepts and skills of the English language. These courses are typically aimed at beginners with little to no prior knowledge of English. They cover essential topics such as grammar, vocabulary, pronunciation, and basic communication skills.</p>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-2">
                      <h2> Intermediate English Course</h2>
                    </div>
                    <div class="service-text">
                      <p> An intermediate English course is an educational program designed to build upon the foundational knowledge gained in basic English courses. These courses are typically aimed at individuals who have completed basic English training or have some prior knowledge of English. They cover more advanced topics and skills that are essential for using English in a professional setting or for more complex tasks.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                    <div class="single-service">
                      <div class="service-bg service-bg-2">
                        <h2> Advanced English Course</h2>
                      </div>
                      <div class="service-text">
                        <p> An advanced English course is an educational program designed to provide in-depth knowledge and skills in specific areas of the English language. These courses are typically aimed at individuals who have completed intermediate English training or have a strong foundation in English language concepts. They cover advanced topics and skills that are essential for specialized roles in the field of English language studies or for using English in a professional setting.</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
</section>
{% endblock content %}