{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Preparation Classes<span class="m_1"></span></h1>
    </div>
</div>

<section class="container">
    <div class="card">
        <div class="card-header">
          Preparation Classes
        </div>
        <div class="card-body">
          
            <p>Here at our Preparation Classes, welcome! We are aware that knowledge alone is not enough to succeed in professional sectors and competitive exams. It requires a well-thought-out plan, efficient study methods, and a nurturing atmosphere. Our courses are designed to specifically address the requirements of various tests and career paths. We offer the knowledge and tools to help you prepare for exams in banking, engineering, staff nursing, CMAT, Teacher's Service Commission, and Public Service Commission (Loksewa).</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-1">
                      <h2>शिक्षक सेवाः मा.वि., नि.मा.वि, प्रा.वि. (Teacher Service: Secondary School, Lower
                        Secondary School, Primary School)</h2>
                    </div>
                    <div class="service-text">
                      <p>We offer comprehensive courses designed to prepare you for a successful career in teaching at various levels, including Secondary School, Lower Secondary School, and Primary School.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-2">
                      <h2> बैकिङ सेवाः राष्ट्रबैक, वाणिज्य बैंक, नेपाल बैंक (Banking services: Rastra Bank,
                        Commercial Bank, Nepal Bank)</h2>
                    </div>
                    <div class="service-text">
                      <p> We offer comprehensive courses designed to prepare you for a successful career in the banking sector, including positions at Rastra Bank, Commercial Banks, and Nepal Bank.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-3">
                      <h2>प्रहरी तथा सैनिक सेवा आदि । (Police and Military Services)</h2>
                    </div>
                    <div class="service-text">
                      <p>We offer specialized courses designed to prepare you for a successful career in law enforcement and the military.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-3">
                  <div class="single-service">
                    <div class="service-bg service-bg-4">
                      <h2>लोकसेवा आयोगः ना.सु खरिदार, अधिकृत (Public Service Commission: Assistant Subba,
                        Kharidar, Officer)</h2>
                    </div>
                    <div class="service-text">
                      <p>We offer specialized courses designed to prepare you for a successful career in public service, including positions such as Assistant Subba, Kharidar, and Officer.</p>
                    </div>
                   
                  </div>
                </div>
              </div>
   
        </div>
      </div>
</section>
{% endblock content %}